::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 0!important;
}

.question-label {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

mat-hint {
  color: red;
  font-weight: bold;
}