.active {
  // background-image: url('../../../../../assets/icons/success.svg');
  width: 10%;
  height: 10%;
  background-repeat: no-repeat;
}

.running {
  // background-image: url('../../../../../assets/icons/running.svg');
  width: 10%;
  height: 10%;
  background-repeat: no-repeat;
}

.error {
  // background-image: url('../../../../../assets/icons/failed.svg');
  width: 10%;
  height: 10%;
  background-repeat: no-repeat;
}