

<button mat-stroked-button color="red" class="btn-block" type="button" (click)="openDialog('add')">Add New {{activeEntity}}</button>
<div *ngIf="activeEntities$ | async">
  <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

    <!-- Entities Columns -->
    <ng-container *ngFor="let column of entityColumns;" matColumnDef="{{column}}">
      <th mat-header-cell *matHeaderCellDef>{{column}}</th>
      <td mat-cell *matCellDef="let entity; let i = index" >
        <div *ngIf="!isEmpty(entity[column])">
          <div *ngIf="isNodes(entity[column])"> 
            <div *ngFor="let subtity of entity[column].nodes; let i = index">
              {{subtity["id"]}},
            </div>
          </div>
          <div *ngIf="!isNodes(entity[column])" > 
              {{entity[column]}}
          </div>
        </div>
        <div *ngIf="isEmpty(entity[column])">
          <span class="no-entry">
            Empty field
          </span>
        </div>
      </td>
    </ng-container>
    
    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let entity" (click)="deleteEntity(entity)">
        <img class="img-responsive" src="../../../../../assets/gamechanger/delete.png">
        </td>
    </ng-container>
  
    <!-- Update Column -->
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>Update</th>
      <td mat-cell *matCellDef="let entity" (click)="openDialog('update',entity)">
  
        <img class="img-responsive" src="../../../../../assets/gamechanger/pen.png">
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #paginator [pageSize]="5" 
showFirstLastButtons></mat-paginator>
</div>

