.success-layout-main{
  height: 100%;
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__success-msg {
    font-weight: 300;
    font-size: 30px;
    color: #4400ff;
    text-align: center;
    text-align: center;
    line-height: 38px;
    margin-bottom: 2vh ;
  }
  
  img {
    height: 20%;
  }

  button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    transition: 0.4s;
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);

    &:hover {
        color: white;
        box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
        background-color: rgba(104, 85, 224, 1);
    }
  }

}