@import  '../../../assets/sass/mixins.scss';


.side-nav-content{
  @include size(86.5%,100%);
}

.side-nav {
  &__header {
    &__logo {
      padding: 4.2598509052vh 2vw 3.6118210863vh 2vw;
      @include size(9vw,unset);
      display: block;
      // Closed sidenav Logo
      &--side-nav-closed {
        display: block;
        padding: 4.259850905218317vh 1.1904761904761905vw 3.611821086261981vh 1.1904761904761905vw;
        @include size(3.380952380952381vw,4vh);
      }
    }
  }

  &__nav {
    @include display-flex(center,null,column);
    @include size(100%,45vh);
    padding-bottom: 27vh;

    &__item {
      // Hover background on inactive Item
      &:hover:not(.active):not(:first-child) {
        background-color: rgba(59, 58, 135, 0.47);
        color: white ;
        width: 100%;
       
        path {
          fill: white;
        }
        .side-nav__nav__item__txt {
          color: white !important;
        }
      }

      &__disabled {
        padding: 0;
      }

      &__inner-wrapper {
        @include display-flex(center,null,null);
        padding: 1.5vh 0 1.5vh 0;
        margin: 0 auto;
      }

      &__txt {
        @include poppins-set-config(0.8em,var(--mainColor),500,null,0.01em);
        text-decoration: none;
        padding-left: 0.8vw;

        &--lower {
          @include poppins-set-config(0.8em,grey,500,null,0.01em);
          color: grey;
          padding-left: 0.8vw;
        }
      }

      &__icon {
        color: var(--mainColor);
        @include size(1.7857142857142858vw,3.194888178913738vh);
    
        &--lower {
          @include size(1.1857142857142858vw,2.394888178913738vh);
          opacity: 0.8;
        }
      }
    } 
    
  }
}


// Actived router link color
.active {
  background-color: var(--mainColor);
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12);
  color: white;
  mat-icon path {
    color: white ;
  }
  .side-nav__nav__item__txt {
    color: white !important;
  }
}

.active path {
  fill: white !important ;
}

// Manage side-nav box shadow
.mat-drawer-side {
  border-right: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12);
}

// Panic button
.panic-button {
  width: 4vw;
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
  z-index: 1;
}

// Fix Angular material margin when sidenav not triggered by native Angular material function
.none-expanded-content {
  margin: 0 !important;
  padding-left: 6vw !important;
  @include size(95%,100%);
  .side-nav{
  @include size(5%,100%);
  }
}

// Remove outline when <button> clicked
*:focus {
  outline: none;
}


