.avatar {
  &--owner {

  }

  &--collab {

  }
}

.small {
  width: 1.9444444444444444vw;
  height: 3.3857315598548974vh;
}

.medium {
  width: 1.9444444444444444vw;
  height: 3.3857315598548974vh;
}

.large {
  width: 7.440476190476191vw;
  height: 13.312034078807242vh;
}