@keyframes type{
  from{box-shadow: inset -3px 0px 0px #4400ff;}
  to{box-shadow: inset -3px 0px 0px transparent;}
}

#pagenotfound-main{
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.pagenotfound-wrapper{
  display: table-cell;
  vertical-align: middle;
}

.pagenotfound-wrapper h1{
  color: #4400ff;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
}

