<!--LOGIN FORM-->
<form class="login-form">
  <!--EMAIL INPUT-->
  <div class="login-form__input-wrapper">
    <input mat-input class="login-form__input" type="text" id="email"  [(ngModel)]="email" name="email" placeholder="{{'login.form.input-mail-placeholder' | translate}}" maxlength="100" required>  
  </div>
  <!--PWD INPUT-->
  <div class="login-form__input-wrapper">
    <input mat-input class="login-form__input" type="password" id="password"  [(ngModel)]="password" name="password" placeholder="{{'login.form.input-pwd-placeholder' | translate}}"  required>
  </div>

  <!--SUBMIT INPUT-->  
  <div class="login-form__input-wrapper">
    <button mat-input class="login-form__input--submit" type="submit" value="Connexion" (click)="login()">{{'login.form.input-submit' | translate}}</button>
  </div>

</form>