@import  '../../../../../assets/sass/mixins.scss';


.login-form {

  @include display-flex(center,null,column);
  @include size(27vw, 3vh);
  
  &__input {
    @include size(25vw, 3vh);
    font-size: 1em;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding: 2vw;
    box-sizing: border-box;
    margin-top: 2vh;

    &--submit {
      @include size(11.130952380952381vw, 5.857294994675186vh);
      @include action-button-font-config();
      margin-top: 3vh;
    }

    &::placeholder {
      @include poppins-set-config(1em,#9e9e9e,normal,null,0.75px)
    }
  }
}
