.form-row {
  margin-bottom: 1.5vh;
}

.save-button {
  border: 1px solid #4400ff;
  padding: 2vh 2vw 2vh 2vw;
  background: #ffffff;
  color: #4400ff;
  font-weight: bold;
  border-radius: 3px;
  margin-top: 1.5vh;
}
