<router-outlet></router-outlet>
<mat-card class="welcome-card">
  <mat-card-title>Welcome</mat-card-title>
  <div class="welcome-card--wrapper">
    <div class="welcome-card--title">This is your endpoint : </div> {{ endpoint }}
  </div>
  <div class="welcome-card--wrapper">
    <div class="welcome-card--title" >Auth mechanism :</div>  {{ apiAuthMechanism }}
  </div>
  <div class="welcome-card--wrapper">
    <div class="welcome-card--title" >This is your schema :</div>  {{ gclSchema }}
  </div>
</mat-card>