
<!-- LOGIN PAGE -->
<div class="login">
  <!-- LEFT SECTION -->
  <section class="login__left-section">
    <h1 class="login__left-section__title">{{'login.title' | translate}}</h1>
    <img class="login__left-section__img" src="../../../assets/icons/Banger.svg" alt="">
  </section>
  <!-- RIGHT SECTION -->
  <section class="login__right-section">
    <!-- FORM HEADER -->
    <header class="login__right-section__header">
      <img class="login__right-section__header__logo" src="../../../assets/icons/factonics-logo-round.svg" alt="Factonics Logo">
      <h1 class = "login__right-section__header__title">{{'login.form-header.title' | translate}}</h1>
    </header>
    <!-- LOGIN FORM COMPONENT -->
    <app-login-form></app-login-form>
  </section>
</div>

