<mat-toolbar-row class="admin-nav">
  <!-- GAME CHANGER LOGO -->
  <img class="admin-nav--icon"src="../../../../../assets/gamechanger/gamechanger-logo.png" alt="">
  <!-- NAV LIST -->
  <ul class="admin-nav--list">
    <li class="admin-nav--list--item" routerLink="/admin/tables" >Tables</li>
    <li class="admin-nav--list--item" routerLink="/admin/home">Home</li>
    <li class="admin-nav--list--item" [matMenuTriggerFor]="modelsMenu">Models</li>
  </ul>
  <!-- LOGOUT BUTTON -->
  <button (click)='logout()' mat-stroked-button color="warn">Log out</button>
</mat-toolbar-row>

<!-- MODELS MENU -->
<!-- GENERATED : <button mat-menu-item routerLink="/admin/models/<entity_name>" ><entity_name></button> -->
<mat-menu #modelsMenu="matMenu">
  <% for (let i = 0; i < types.length; i++) { %> 
    <button mat-menu-item routerLink="/admin/models/<%=camelize(types[i].typeName)%>" ><%=types[i].typeName%></button> 
  <% } %> 
</mat-menu>